# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
build/mysites
web/src
web/scripts
web/vite
web/plop-templates
web/themes
web/components.json
web/eslint.config.js
web/package.json
web/plopfile.js
web/pnpm-lock.yaml
web/postcss.config.js
web/stylelint.config.js
web/tsconfig.app.json
web/tsconfig.json
web/tsconfig.node.json
web/uno.config.ts
web/vite.config.ts

# Mac
.DS_Store
*/.DS_Store

# VS Code
.vscode
*.project
*.factorypath

# IntelliJ IDEA
.idea/*
!.idea/icon.png
*.iws
*.iml
*.ipr

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
/pkg/
*_xpack.go
.history/
dist/
dzctl
mysites.service
install.sh
quick_start.sh